# Ignore .env file
.env

# Ignore vendor directory
/service/vendor

# Ignore node_modules directory
/node_modules

# Ignore .idea directory
/.idea

# Ignore .vscode directory
/.vscode

# Ignore log files
*.log

# Ignore temp files
*.tmp